<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insurence</title>
    <link rel="shortcut icon" type="x-icon" href="{{url_for('static',filename='images/bu.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='insurence.css')}}"/>
</head>
<body>

    <nav> 
        <div class="logo">bus Manegment</div>
        <div class="search">
            <form>
                <input type="text" placeholder="search..">
                <button type="submit">Go</button>
            </form>
        </div>
    </nav> 
    
            
    <br>
    <br>
    <br>
    <br>
    
    <ul>
        <li><a href="#">dash board</a></li>
        <li><a href="vehical_details">vehicle details</a></li>
        <li>                                          <!--main(vehicle document) dropdown-->      
            <a href="#">vehicle document +</a>
            <ul class="dropdown">
    
                <li><a href="insurence">insurence</a></li>
                <li><a href="revenue">Revenue License</a></li>
                <li><a href="emssion">Emission Test </a></li>
                <li><a href="permit">permit</a></li>
            </ul>
        </li>
    
         <li>                                        <!--vehical user dropdown-->  
            <a href="#">vehicle user +</a>
            <ul class="vehical_user">
    
                <li><a href="driverdetails">driver details</a></li>
                <li><a href="conductordetails">conductor details </a></li>
    
            </ul>
        </li>
        <li><a href="daily_input">daily input</a></li>
        <li><a href="expenses">daily expenses</a></li>
        <li>                                        <!--maintanence dropdown-->  
            <a href="#">maintanence +</a>
            <ul class="maintanence">
    
                <li><a href="oil">oil</a></li>
                <li><a href="service">service </a></li>
                <li>                                   <!--tyer dropdown-->  
                    <a href="#">tyer +</a>
                    <ul class="tyer"> 
                        <li><a href="left_front_tyer">left front tyer</a></li>
                        <li><a href="rigth_front_tyer">right front tyer </a></li>
                        <li><a href="left_back_inside_tyer">left back inside tyer</a></li>
                        <li><a href="left_back_outside_tyer">left back outsude tyer</a></li>
                        <li><a href="right_back_inside_tyer">right back inside tyer </a></li>
                        <li><a href="rigth_back_outside_tyer">right back outsude tyer</a></li>
    
                    </ul>
                </li>
    
            </ul>
        </li>
        <li><a href="issues">isssues</a></li>
        
    </ul>

    <div class="big ">
        <div class="form">
            <h2>insurence </h2>
    
            <br><br>
            <form>
                <div>
                    <label for="insurance number">insurance number </label>
                    <input type="text" id="insurance number" name="insurance number"> <br>
                </div>
            
                <br>
            
                <div>
                    <label for="start date">start date </label>
                    <input type="text" id="start date" name="start date">
                </div>
            
                <br>
            
                <div>
                    <label for="expiry date">expiry date </label>
                    <input type="text" id="expiry date" name="expiry date">
                </div>
            
                <br>
            
                <div>
                    <label for="cost">cost </label>
                    <input type="text" id="cost" name="cost">
                </div>
            
                <br>

                <div>
                    <button class="btn">submit</button>
                </div>

            </form>  
        </div>  
    </div>
    
    
</body>
</html>