<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="x-icon" href="{{url_for('static',filename='images/bu.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='vehical_details.css')}}"/>
   
    <title>Bus Manegment</title>

   
</head>
<body>

<nav> 
    <div class="logo">bus Manegment</div>
    <div class="search">
        <form>
            <input type="text" placeholder="search..">
            <button type="submit">Go</button>
        </form>
    </div>
</nav> 


<br>
<br>
<br>
<br>

<ul>
    <li><a href="#">dash board</a></li>
    <li><a href="vehical_details">vehicle details</a></li>
    <li>                                          <!--main(vehicle document) dropdown-->      
        <a href="#">vehicle document +</a>
        <ul class="dropdown">

            <li><a href="insurence">insurence</a></li>
            <li><a href="revenue">Revenue License</a></li>
            <li><a href="emssion">Emission Test </a></li>
            <li><a href="permit">permit</a></li>
        </ul>
    </li>

     <li>                                        <!--vehical user dropdown-->  
        <a href="#">vehicle user +</a>
        <ul class="vehical_user">

            <li><a href="driverdetails">driver details</a></li>
            <li><a href="conductordetails">conductor details </a></li>

        </ul>
    </li>
    <li><a href="daily_input">daily input</a></li>
    <li><a href="expenses">daily expenses</a></li>
    <li>                                        <!--maintanence dropdown-->  
        <a href="#">maintanence +</a>
        <ul class="maintanence">

            <li><a href="oil">oil</a></li>
            <li><a href="service">service </a></li>
            <li>                                   <!--tyer dropdown-->  
                <a href="#">tyer +</a>
                <ul class="tyer"> 
                    <li><a href="left_front_tyer">left front tyer</a></li>
                    <li><a href="rigth_front_tyer">right front tyer </a></li>
                    <li><a href="left_back_inside_tyer">left back inside tyer</a></li>
                    <li><a href="left_back_outside_tyer">left back outsude tyer</a></li>
                    <li><a href="right_back_inside_tyer">right back inside tyer </a></li>
                    <li><a href="rigth_back_outside_tyer">right back outsude tyer</a></li>

                </ul>
            </li>

        </ul>
    </li>
    <li><a href="issues">isssues</a></li>
    
</ul>


<div class="big ">                                   <!--from--> 
    <div class="form">
        <h2>Vehicle details </h2>

        <br><br>
        <form>
            <div>
                <label for="type">type </label>
                <input type="text" id="type" name="type"> <br>
            </div>
        
            <br>
        
            <div>
                <label for="name">name </label>
                <input type="text" id="name" name="name">
            </div>
        
            <br>
        
            <div>
                <label for="model">model </label>
                <input type="text" id="model" name="model">
            </div>
        
            <br>
        
            <div>
                <label for="yerar of manufacture">yerar of manufacture </label>
                <input type="text" id="yerar of manufacture" name="yerar of manufacture">
            </div>
        
            <br>
        
            <div>
                <label for="vehicl image">vehicl image </label>
                <input type="text" id="vehicl image" name="vehicl image">
            </div>
        
            <br>
        
            <div>
                <label for="Vehicl Image">Vehicl Image </label>
                <input type="file" id="uplodebtn" name="uplode file">
            </div>
        </form>
       
     
    </div>


    <div class="form2">
        <form>

            <br> <br> <br> <br>
          
          <div>
              <label for="engine number">engine number </label>
              <input type="text" id="engine number" name="engine number">
          </div>
      
          
          <br>
      
          <div>
              <label for="chassis number">chassis number</label>
              <input type="text" id="chassis number" name="chassis number">
          </div>
      
          
          <br>
      
          <div>
              <label for="fuel type">fuel type </label>
              <input type="text" id="fuel type" name="fuel type">
          </div>

          <br>

          <div>
            <button class="btn">submit</button>
        </div>
      
      
        </form> 
    </div>
</div>

    




  
</body>
</html>
